{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'post_pengumuman/style.css' %}">
    <title>Buat Pengumuman - Risikovid</title>
{% endblock meta %}
{% block content %}
    <div class="container">
        <div class="message">
            <p>{{message}}</p>
        </div>
        <div class="thumbnails">
        {% if kode_prov == 'BAN'%}
            <img src="../../static/post_pengumuman/img/Banten.png">
        {% endif %}
        {% if kode_prov == 'JKT'%}
            <img src="../../static/post_pengumuman/img/Jakarta.png">
        {% endif %}
        {% if kode_prov == 'JBR'%}
            <img src="../../static/post_pengumuman/img/West_Java.png">
        {% endif %}
        {% if kode_prov == 'JTE'%}
            <img src="../../static/post_pengumuman/img/Central_Java.png">
        {% endif %}
        {% if kode_prov == 'YOG'%}
            <img src="../../static/post_pengumuman/img/Yogyakarta.png">
        {% endif %}
        {% if kode_prov == 'JTI'%}
            <img src="../../static/post_pengumuman/img/East_Java.png">
        {% endif %}
        </div>
    </div>
{% endblock content %}
