{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'post_pengumuman/style.css' %}">
    <title>Buat Pengumuman - Risikovid</title>
{% endblock meta %}
{% block content %}
    </div></div>
    <div class="container">
        <div class="row justify-content-center py-1 px-5">
            {% if message %}
            <div class="message">
                <p class="my-0">{{message}}</p>
            </div>
            {% endif %}
        </div>
        <div class="row text-center justify-content-center py-5 mx-1">
            <h2 class="ubuntu">Masuk sebagai Akun Pemerintah untuk Post Pengumuman</h2>
        </div>
        <div class="row justify-content-center px-4 pb-5">
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'BAN' %}">
                    <img src="{% static 'post_pengumuman/img/Banten.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JKT' %}">
                    <img src="{% static 'post_pengumuman/img/Jakarta.png' %}" class="thumbnail rounded img-fluid" >
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JBR' %}">
                    <img src="{% static 'post_pengumuman/img/West_Java.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JTE' %}">
                    <img src="{% static 'post_pengumuman/img/Central_Java.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'YOG' %}">
                    <img src="{% static 'post_pengumuman/img/Yogyakarta.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6 text-center">
                <a href="{% url 'post_pengumuman:form' 'JTI' %}">
                    <img src="{% static 'post_pengumuman/img/East_Java.png' %}" class="thumbnail rounded img-fluid">
                </a>
            </div>

        </div>
    </div>
{% endblock content %}