{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'post_pengumuman/style.css' %}">
    <title>Buat Pengumuman - Risikovid</title>
{% endblock meta %}
{% block content %}
    </div></div>
    <div class="container">
        <div class="row justify-content-center py-1 px-5">
            {% if messages %}
            <ul class="messages my-0">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="row justify-content-center py-5 mx-2">
            <h2 class="ubuntu text-center">Post Pengumuman</h2>
        </div>
        <div class="row justify-content-center pb-5 px-2">
            <form action="{% url 'post_pengumuman:form' kode_prov %}" method="POST">
                <h3 class="ubuntu pb-2">Pemerintah Provinsi {{provinsi}}</h3>
                {% csrf_token %}
                {{form}}
                <div>
                    <button type="submit">Kirim</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}