{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hasil Periksa</title>
{% endblock meta %}

{% block content %}
<div class="container py-5 justify-content-center align-items-center">
    <div class="row m-5 p-3 bg-light rounded-lg">
        <div class="col">
            <h2 class="text-center">Hasil Periksa</h2>
            <br>
            <p class="text-center">Peluang {{ pengunjung }} terkena COVID-19 adalah {{ persentase_str }}%</p>
            <p class="text-center">{{ pesan }}</p>
        </div>
    </div>
</div>
{% endblock content %}