{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>risicovid</title>
{% endblock meta %}

{% block content %}
  <div class="container my-5 py-5">
    <div class="row align-items-center mx-1 py-3">
      <div class="col-sm-6 order-sm-12 my-2 px-1 text-center">
        <img class="img-fluid" src="/static/img/landing.svg" style="max-width: 90%;"></img>
      </div>
      <div class="col-sm-6 order-sm-1 my-3 pt-3">
        <h1 class="ubuntu">
          Cek kondisimu jika terdapat gejala COVID-19
        </h1>
        <div class="row">
          <a class="btn is-navy btn-dark btn-lg ml-3 spinnaker" href="/periksa/" role="button">Periksa</a>
          <a class="btn is-navy btn-dark btn-lg ml-3 spinnaker" href="#" role="button">Rumah Sakit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <h2 class="ubuntu">Pengumuman</h2>
    <div id="carouselExampleControls" class="carousel slide p-3" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for i in pengumuman_list %}
          <li data-target="#carouselExampleIndicators" data-slide-to={{forloop.counter0}} class="active"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner bg-light rounded">
          {% if pengumuman_list %}
            {% for pengumuman in pengumuman_list %}
              {% if forloop.first %}
              <div class="carousel-item active p-5 prompt">
                <p class="border border-right-0 border-left-0 border-info mx-2 my-2 text-center">{{pengumuman.judul|title}}</p>
                <p class="mx-2 mb-0">
                  <span class="font-weight-bold">Provinsi : </span>
                  <span class="d-inline-block">{{pengumuman.pemerintah}}
                </p>
                <p class="mx-2 mb-0">
                    <span class="font-weight-bold">Urgensi  : </span>
                  {% if pengumuman.prioritas == '00' %} 
                    <span class="px-2 d-inline-block bg-danger">{{pengumuman.get_prioritas_display}}
                  {% elif pengumuman.prioritas == '01' %} 
                    <span class="px-2 d-inline-block bg-warning">{{pengumuman.get_prioritas_display}}
                  {% else %} 
                    <span class="d-inline-block">{{pengumuman.get_prioritas_display}}
                  {% endif %}
                </p>
                <p class="mx-2 my-2 text-center font-italic">"{{pengumuman.isi_pengumuman}}"</p>
              </div>
              {% else %}
              <div class="carousel-item p-5 prompt">
                <p class="border border-right-0 border-left-0 border-info mx-2 my-2 text-center">{{pengumuman.judul|title}}</p>
                <p class="mx-2 mb-0">
                  <span class="font-weight-bold">Provinsi : </span>
                  <span class="d-inline-block">{{pengumuman.pemerintah}}
                </p>
                <p class="mx-2 mb-0">
                    <span class="font-weight-bold">Urgensi  : </span>
                  {% if pengumuman.prioritas == '00' %} 
                    <span class="px-2 d-inline-block bg-danger">{{pengumuman.get_prioritas_display}}
                  {% elif pengumuman.prioritas == '01' %} 
                    <span class="px-2 d-inline-block bg-warning">{{pengumuman.get_prioritas_display}}
                  {% else %}
                    <span class="d-inline-block">{{pengumuman.get_prioritas_display}}
                  {% endif %}
                </p>
                <p class="mx-2 my-2 text-center font-italic">"{{pengumuman.isi_pengumuman}}"</p>
              </div>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="carousel-item text-center p-5 prompt">
              <p>Belum ada pengumuman</p>
            </div>
          {% endif %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container my-5">
    <h2 class="ubuntu text-center">Selalu jaga kesehatan dengan mengikuti tips di bawah ini</h2>
    <ul class="list-group p-3">
      {% for i in tips_list %}
        <li class="list-group-item mb-1 rounded border-0">
          <p class="mb-0 prompt">
            <span class="border rounded border-info px-2 mx-2">{{forloop.counter}}</span>
            {{i.pesan|capfirst}}
          </p>
        </li>
      {% endfor %}
    </ul>  
  </div>

{% endblock content %}
